html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1204px;
}

body {
  color: #16191d;
  font-size: 16px;
  line-height: normal;
  background: #f0f3f7;
  line-height: 1.3;
}

header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.header {
  height: 80px;
  border-bottom: 1px solid #eaedf0;
  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(6px);
}

.navigation {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.navigation__left-menu {
  display: flex;
  flex-grow: 0;
  align-items: center;
  gap: 0 24px;
}

.navigation__flag-image {
  width: 25px;
  height: 20px;
  border-radius: 4px;
}

.navigation__btn-lang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  background-color: #fff;

  color: #16191d;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}

.navigation__dropdown-lang-menu {
  position: relative;
}

.navigation__lang-list {
  position: absolute;
  padding-left: 16px;

  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 28px 0px rgba(23, 24, 26, 0.2);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-15px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.navigation__dropdown-lang-menu
  > .navigation__btn-lang:focus
  + .navigation__lang-list {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.navigation__lang {
  display: flex;
  padding: 12px 45px 12px 0px;
  gap: 8px;
}

.navigation__contact-number {
  display: flex;
  align-items: center;
  gap: 4px;

  color: #16191d;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}

.navigation__right-menu {
  display: flex;
  align-items: center;
  gap: 0 16px;
}

.navigation__divider {
  width: 1px;
  height: 32px;
  background: #f0f3f7;
}

.navigation__list-divider {
  width: 145px;
  height: 1px;
  border-radius: 1px;
  background: #eaedf0;
  padding-left: 48px;
}

.navigation__logo {
  display: flex;
  width: 170px;
  height: 100px;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 0px 0px 20px 20px;
  border-right: 1px solid #eaedf0;
  border-bottom: 1px solid #eaedf0;
  border-left: 1px solid #eaedf0;
  background: #fff;
  box-shadow: 0px 12px 36px 0px rgba(35, 42, 54, 0.1);
}

.navigation__logo:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.5s;
}

.navigation__favourites-menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navigation__login-btn {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border: none;
  border-radius: 8px;
  background: #eaedf0;
}

.navigation__login-btn:hover {
  cursor: pointer;
  background: #949699;
  transition-duration: 0.5s;
}

.main {
  margin-top: 76px;
  width: 100%;
  background: #fff;
  padding-bottom: 80px;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.hero__search-bar {
  display: flex;
  padding: 8px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 580px;
  height: 60px;

  border-radius: 8px;
  border: 1px solid #eaedf0;
  background: #fff;
  position: absolute;
  top: -30px;
  z-index: 6;
}

.hero__search-bar input {
  color: #b8bbbd;
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  z-index: 6;
}

.hero__input:focus {
  color: #000000;
  z-index: 6;
}

.hero__search-bar-icon {
  padding: 18px 8px 18px 0;
}

.hero__btn {
  display: inline-flex;
  height: 44px;
  padding: 11px 28px 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;

  border-radius: 6px;
  background: #16191d;

  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  outline: none;
  border: none;
}

.hero__btn:hover {
  cursor: pointer;
}

.hero__content {
  padding-top: 24px;
  width: 100%;
}

.hero__content-head {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__content-title {
  color: #16191d;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
}

.hero__content-discription {
  color: #8e9297;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero__product-list {
  width: 100%;
  margin-top: 76px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

.hero__content-products:hover {
  cursor: pointer;
}

.hero__container {
  border: 1px solid red;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 24px;
  padding: 20px;
  z-index: 4;
}

.hero__card-list {
  width: 100%;
}

.hero__dropdown-list {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.hero__product {
  width: 330px;
  height: 85px;
  display: flex;
  align-items: center;
  position: relative;
}

.hero__product-icon {
  flex-shrink: 0;
  padding: 16px;
  position: absolute;
  z-index: 10;

  border-radius: 12px;
  border: 1px solid #eaedf0;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}

.hero__product-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 22px 12px 22px 44px;
  position: absolute;
  border-radius: 12px;
  border: 1px solid #eaedf0;
  /* background: #fff; */
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.02);
  z-index: 9;
  left: 32px;
}

.hero__product-title {
  overflow: hidden;
  color: #16191d;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero__product-disc {
  overflow: hidden;
  color: #8e9297;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

.news__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}

.news__card-top {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__content {
  border-radius: 12px;
  border: 2px solid #fff;
  background: #fff;
}

.news__content-title {
  color: #16191d;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
}

.news__content-discription {
  color: #8e9297;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.news__card-body {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 278px);
  grid-template-rows: repeat(3, 470px);
}

.news__img {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: 100%;
}

.news__img-desrc {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.news__location {
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  background: #eaedf0;
}

.news__product-name {
  color: #16191d;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

.news__owner-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.news__time {
  color: #8e9297;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

.news__contact {
  overflow: hidden;
  color: #8e9297;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

.news__price-tag {
  display: flex;
  align-items: first baseline;
  gap: 8px;
}

.news__price {
  color: #16191d;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
}

.news__curruncy {
  color: #388ff3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.news__img-desrc:hover .news__product-name {
  color: #388ff3;
}

.news__card-bottom {
  display: flex;
  gap: 8px;
  padding: 11px 28px 12px 28px;
  justify-content: center;

  border-radius: 100px;
  border: 2px solid rgba(214, 214, 214, 0.5);
  background: #eaedf0;
}

.news__card-btn {
  color: #16191d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;

  border: none;
  outline: none;
}

.news__card-bottom:hover,
.news__card-btn:hover {
  cursor: pointer;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin-top: 40px;
}

.footer__icon-img {
  position: relative;
  top: -30px;
  fill: #388ff3;
  stroke-width: 1.103px;
}

.footer__icon-img:hover {
  stroke: rgba(255, 255, 255, 0.32);
  filter: drop-shadow(0px 8.828px 35.31px rgba(56, 143, 243, 0.44));
  transition-duration: 0.2s;
}

.footer__content-discription {
  padding-top: 31px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

.footer__company-services {
  display: flex;
  gap: 72px;
  padding-top: 24px;
  padding-bottom: 48px;
}

.footer__service {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #16191d;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

.footer__footer-line {
  display: flex;
  justify-content: space-between;
  width: 100%;

  padding: 14px 128px;

  border-top: 1px solid #eaedf0;
  background: rgba(255, 255, 255, 0.36);
  backdrop-filter: blur(13px);
}

.footer__footer-line-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.footer__footer-line-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer__group-icon {
  opacity: 0;
}

.footer__footer-line-right:hover .footer__group-icon {
  opacity: 1;
  transition-duration: 0.5s;
  transform: translateX(-10px);
}

.footer__text {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.navigation__btn-lang:hover,
.navigation__lang:hover,
.navigation__contact-number:hover,
.navigation__favourites-menu:hover,
.footer__service:hover {
  transition-duration: 0.5s;
  color: #388ff3;
}

.hero__blur {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 5;
}
