.folders {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-top: 20px;
}

.folders__main {
  color: #16191d;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}

.folders__sub-main {
  color: #b8bbbd;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}

main {
  padding-top: 20px;
  display: flex;
  gap: 24px;
}

.filtration {
  border-radius: 12px;
  background: #fff;
  display: flex;
  padding: 16px;
}

.filtration__title {
  color: #16191d;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

.product-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-list__title {
  color: #16191d;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
}

.product-list__navigation-icon {
  display: flex;
  justify-content: end;
  gap: 12px;
  padding-top: 12px;
}

.product-list__numOfProducts {
  color: #8e9297;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}

.product-list__list {
  padding-top: 24px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(4, 470px);
}
